<% layout('layout/boilerplate') -%>
<link rel="stylesheet" href="/css/blog.css">

<div class="container">

    <div class="top_container">
        <!-- <div class="blog_title">
            <h1>Šodienas spēle bija pscffsfdfssdsfzxccxczxzczsdfs!</h1>
        </div> -->
        <div class="rating_title_container">
            <p class="rating">Bloga kopējais vērtējums: 
                <% let ratingMax = 5 %>
                <% let rating = blog.rating %> 
                <% for(let i = 1; i <= ratingMax; i++) {%> 
                    <% if(i <= rating) {%>
                        <span class="fa fa-star checked"></span>
                        <% } else {%>  
                        <span class="fa fa-star"></span>
                    <% } %> 
                    <% } %>
            </p>
            <div class="categorie_title">
                <h2><%= blog.categorie %></h2>
            </div>
        </div>
    </div>
    
    <div class="blog_container">
        <div class="blog_title">
            <h1><%= blog.title %></h1>
        </div>
        <div class="blog_text">
            <p>
                <%= blog.text %>
            </p>
        </div>
        <div class="author_rate_blog">
            <div class="blog_author">
                <p>Autors: <span><%= blog.author %></span></p>
                <p>Datums: <span><%= blog.date %></span></p>
                <p>Blogu skaits: <span>TOP</span></p>
                <p>Lietotāja reitings: <span>TOP</span></p>
            </div>
            <div class="rate_blog">
                <p>Novērtē šo ierakstu</p>
                 <form action="/blogs/1" method="POST">
                    <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
                    </div>
                    <button>Iesniegt</button>
                 </form> 
            </div>
            
        </div>
    </div> 

    <div class="bottom_container">
       <div class="comments">
        <div class="leave_comment">
            <form action="/blogs/1" method="POST">
            <label for="comment">Pievienot komentāru</label>
            <input type="text" name="username" placeholder="Lietotāja vārds">
            <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
            <button>Komentēt</button>
            </form>
        </div>
        <div class="see_comments">
            <p>Visi komentāri</p>
            <div class="all_comments">
<!-- ejs --> 
                <div class="comment">
                    <div class="comment_data">
                        <p>Posted by: <a href="/user/1">Martins</a></p>
                        <p>17.03.2021</p>
                    </div>
                    <div class="comment_text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio accusamus quis et consectetur possimus facere tempora voluptatum perferendis veritatis, optio explicabo vel, velit necessitatibus nam in eaque maxime dolor dolorum.
                    </div>
                </div>
<!-- ejs --> 
            </div>
        </div>
       </div>
    </div>
</div>