<% layout('layout/boilerplate') -%>
<link rel="stylesheet" href="/css/blogs.css">

<div class="container">
    <div class="feed_container">
        <div class="categorie_title">
            <h2><%= categorieTitle %></h2>
        </div>

        <div class="page_feed">

            <!-- ****************************************************
        section on left side, main blog feed - specific category feed 
        ***************************************************** -->
            <div class="left_side_blogs">
                <% if(!categorieBlogs.length) {%> 
                <div class="no_blogs">
                    <a href="/blogs/new">Esi pirmais, pievieno blogu!</a>
                </div>
                <% } %> 
                <% for(let blog of categorieBlogs.reverse()) {%>
                    <div class="blog_container">
                        <div class="bg_img <%= categorieTitle %>">
                        </div>
                        <div class="blog_title">
                            <a href="/blogs/<%= blog.id %>"><h1><span><i class="fa fa-blog"></i></span> <%= blog.title %></h1></a>
                        </div>
                        <div class="blog_text">
                            
                            <%= blog.text.substring(0,250) %> ...
                        </div>
                        <div class="blog_author_date_rating">
                        <div class="author_date">
                            <p><span class="author_icon"><i class="fa fa-user-edit"></i></span> <%= blog.author %> </p>
                            <p><%= blog.date %> </p>
                        </div>
                        <div class="rating_comments">
                            <% if(blog.commentsLength) {%> 
                            <p>Komentāri: <span class="comment_q"><%= blog.commentsLength %> </span></p>
                            <% } %> 
                            <p class="rating">Novērtējums: 
                                <% let ratingMax = 5 %>
                                <% let rating = blog.rating %> 
                                <% for(let i = 1; i <= ratingMax; i++) {%> 
                                    <% if(i <= rating) {%>
                                        <span class="fa fa-star checked"></span>
                                        <% } else {%>  
                                        <span class="fa fa-star"></span>
                                    <% } %> 
                                    <% } %>
                            </p>
                        </div>
                        </div>
                    </div>
                    <% } %> 
            </div>

             <!-- *******************************************************
        section on right side, homepage activity, last added comments for specific category
        ********************************************************* -->
        <% if(categorieBlogs.length) {%> 
        <div class="right_side_activity">
            <div class="comments_container">
                <% if(allCommentsForCategorie.length) {%> 
                <div class="last_comments_title">
                    <p>Pēdējie komentāri</p>
                </div>
                <% } else {%>
                    <div class="last_comments_title">
                        <p>Komentāru nav</p>
                    </div>
                    <% } %>  
               <% for(let comment of allCommentsForCategorie.reverse()) {%> 
                    <div class="comment_feed">
                        <div class="blog_of_comment">
                            <p>Komentēts iekš</p> <a href="/blogs/<%= comment.blog.id %>"><%= comment.blog.title %></a>
                        </div>
                        <div class="comment">
                            <div class="comment_text">
                                <%= comment.text.substring(0,180) %>...
                            </div>
                            <p class="comment_author"><span class="author_icon"><i class="fa fa-user-edit"></i></span> <strong><%= comment.author %></strong> <em><%= comment.date %></em></p>
                        </div>
                    </div>
                   <% } %> 
            </div>
        </div>
        <% } %> 
  

        </div>

    </div>
   
</div>
